<div class="row">
        <div class="col  p-1  ">
            <button type="button" class="btn btn-warning" *ngIf="isImportVisible" >
                <i class="fa-solid fa-upload" style="color: white;"></i>&nbsp;
                Importer
    </button>
</div>
    <div class="col  p-1  ">
        <button type="button" class="btn btn-success" *ngIf="isExportVisible" >
            <i class="fa-solid fa-download" style="color: white;"></i>&nbsp;
            Exporter
        </button>
    </div>
    <div class="col  p-1  ">
    <button type="button" class="btn btn-primary" (click)="bouttonclicknouveau()" *ngIf="isNouveauVisible">
            <i class="fa-solid fa-plus" style="color: white;"></i>&nbsp;
            Nouveau
        </button>
    </div>
</div>