<div class="col ms-3 me-3">
    <div class="col-md-12">
        <img src="assets/carton.png" alt="logo png" width="150px" height="150px">
    </div>
    <hr>
    <div class="col-md-12">
        <div class="col-md-12">
            <h3><i class="fas fa-info-circle"></i> &nbsp;Informations de l'articles</h3>
        </div>
        <div class="col-md-12 mt-3">
            <form>
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Code d'article">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Designation">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Prix unitaire HT">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Taux TVA">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Prix unitaire TTC">
                    </div>
                    <div class="col">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Selectionner une categorie</option>
                            <option value="1">un</option>
                            <option value="2">deux</option>
                            <option value="3">Trois</option>
                            <option value="4">Quatre</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="col-md-12">
        <div class="col-md-12 text-end ">
            <button class="btn btn-primary me-3"> <i class="fas fa-save "
                    style="color:white;"></i>&nbsp;Enregistrer</button>
            <button class="btn btn-danger" (click)="cancelclick()"><i class="fas fa-ban" style="color:white;"></i>&nbsp;Annuler</button>
        </div>
    </div>
</div>