<div class="row m-3">
  <div class="card col-md-5 text-center m-1">
    <div class="mb-3">
      <img src="assets/client.png" alt="profil" width="100px" height="100px" class="rounded-circle">
    </div>
    <div>
      <h5>Nom Prenom</h5>
      <small class="form-text text-muted">Adresse , ville , 123456</small>
    </div>
    <div class="text-center d-flex justify-content-center m-3">
      <button type="button" class="btn btn-primary me-1"><i class="fa-solid fa-pencil-alt" style="color:#fff"></i>&nbsp;
        Modifier</button>
      <button type="button" class="btn btn-danger ms-1" (click)="changerMotDePasse()"><i class="fa-solid fa-lock" style="color:#fff"></i>&nbsp;Changer
        le mot de passe</button>
    </div>
  </div>
  <div class="card col-md-6 pe-3 ps-3 m-1">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Nom complet</th>
          <td>nom prénom</td>
        </tr>
        <tr>
          <th scope="row">Email</th>
          <td>votre e-mail</td>
        </tr>
        <tr>
          <th scope="row">Téléphone</th>
          <td>+225 0769211451</td>
        </tr>
        <tr>
          <th scope="row">Adresse</th>
          <td> Adresse , ville , code postal</td>
        </tr>
        <tr>
          <th scope="row">Entreprise</th>
          <td>Nom Entreprise</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>