<div class="row mb-1 custom-border">
    <!--Detail article-->
    <div class="col-md-3 border-right">
        <div class="col">
            <div class="row text-center">
                <div>27.08.2024</div>
            </div>
        </div>
    </div>
    <!--Detail Categorie-->
    <div class="col-md-3 border-right">
        <div class="row"> 
            <div class="col-md-12">
                    <div class="col-md-12 text-center">
                        <h5>230</h5>
                   </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 border-right">
        <div class="row"> 
            <div class="col-md-12">
                    <div class="col-md-12 text-center">
                        <h5>Sortie</h5>
                   </div>
            </div>
        </div>
    </div>
    <!--Des bouttons d'actions-->
    <div class="col-md-3 border-right text-center">
        <div class="row">
            <div class="col-md-12">
               <h5>COMMANDE CLIENT</h5>
            </div>
        </div>
    </div>
</div>