<div class="row mb-1 custom-border">
    <div class="col-md-2  border-right text-center">
        <!--Image article-->
        <div>
            <img src="assets/carton.png" width="100px" height="100px">
        </div>
    </div>
    <!--Detail article-->
    <div class="col-md-4 border-right">
        <div class="col">
            <div class="row">
                <div><i class="fas fa-info-circle"></i> &nbsp;&nbsp;Code d'articles</div>
            </div>
            <div class="row">
                <div><i class="fas fa-info-circle"></i> &nbsp;&nbsp;Désignation</div>
            </div>
            <div class="row">
                <div><i class="fa-solid fa-dollar-sign"></i> &nbsp;&nbsp; Prix HT</div>
            </div>
            <div class="row">
                <div><i class="fa-solid fa-dollar-sign"></i> &nbsp;&nbsp; Prix TTC</div>
            </div>
        </div>
    </div>
    <!--Detail Categorie-->
    <div class="col-md-3 border-right">
        <div class="row">
            <div class="col-md-2">
                <i class="fa-solid fa-flag-checkered"></i>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">Code Categorie</div>
                    <div class="col-md-12">Description Categorie</div>
                </div>
            </div>
        </div>
    </div>
    <!--Des bouttons d'actions-->
    <div class="col-md-3 border-right text-center">
        <div class="row d-flex align-items-center" style="height: 14vh;">
            <div class="col-md-4">
                <button type="button" class="btn"><i class="fa-regular fa-pen-to-square"></i>
                    &nbsp;
                    Modifier
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn  ">
                    <i class="fa-solid fa-trash"></i>
                    &nbsp;
                    Supprimer
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn ">
                    <i class="fa-solid fa-list-ul"></i>
                    &nbsp;
                    Details
                </button>
            </div>
        </div>
    </div>
</div>