<div class="row">

    <div class="row m-3">
        <!--Le titre-->
        <div class="col-md-8 p-0">
            <h1>Liste des categories</h1>
        </div>
        <!--Les bouttons-->
        <div class="col-md-4 text-end pe-5">
            <app-boutton-action (clickEvent)="nouvellecategorie()">
                
            </app-boutton-action>
        </div>
    </div>
<!--Les details d'article-->
    <div class="col m-3">
        <div class="row border-right p-3 mb-2">
            <div class="col custom-border-right">
                code categories
            </div>
            <div class="col">
                Date description
            </div>
        </div>
        <div class="row border-right p-3 mb-2">
            <div class="col custom-border-right">
                code categories
            </div>
            <div class="col">
                Date description
            </div>
        </div>
        <div class="row border-right p-3 mb-2">
            <div class="col custom-border-right">
                code categories
            </div>
            <div class="col">
                Date description
            </div>
        </div>
        <div class="row border-right p-3 mb-2">
            <div class="col custom-border-right">
                code categories
            </div>
            <div class="col">
                Date description
            </div>
        </div>
        <div class="row border-right p-3 mb-2">
            <div class="col custom-border-right">
                code categories
            </div>
            <div class="col">
                Date description
            </div>
        </div>
    </div>
<!--Pagination-->
    <div class="row mb-3">
        <div class="col-md-12 text-center">
            <app-pagination></app-pagination>
        </div>
    </div>

</div>