<div class="row mb-1 custom-border">
    <div class="col-md-2  border-right text-center">
        <!--Image article-->
        <div>
            <img src="assets/client.png" width="100px" height="100px">
        </div>
    </div>
    <!--Detail article-->
    <div class="col-md-4 border-right">
        <div class="col">
            <div class="row">
                <div><i class="fas fa-info-circle"></i> &nbsp;&nbsp;Nom</div>
            </div>
            <div class="row">
                <div><i class="fas fa-info-circle"></i> &nbsp;&nbsp;Prénom</div>
            </div>
            <div class="row">
                <div><i class="fa-solid fa-phone"></i> &nbsp;&nbsp;+225 0769211451</div>
            </div>
        </div>
    </div>
    <!--Detail Categorie-->
    <div class="col-md-3 border-right">
        <div class="col">
            <div class="row">
                <div><i class="fas fa-home"></i> &nbsp;&nbsp;Adresse 1 Adresse 2</div>
            </div>
            <div class="row">
                <div><i class="fas fa-map-marker-alt"></i> &nbsp;&nbsp;01234 ville</div>
            </div>
            <div class="row">
                <div><i class="fa-solid fa-globe-europe"></i> &nbsp;&nbsp;Pays</div>
            </div>
        </div>
    </div>
    <!--Des bouttons d'actions-->
    <div class="col-md-3 border-right text-center">
        <div class="row d-flex align-items-center" style="height: 14vh;">
            <div class="col-md-4">
                <button type="button" class="btn"><i class="fa-regular fa-pen-to-square"></i>
                    &nbsp;
                    Modifier
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn  ">
                    <i class="fa-solid fa-trash"></i>
                    &nbsp;
                    Supprimer
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn ">
                    <i class="fa-solid fa-list-ul"></i>
                    &nbsp;
                    Details
                </button>
            </div>
        </div>
    </div>
</div>